NUXT_MONGODB_URI=mongodb://root:example@localhost:27017
NUXT_PUBLIC_CANONICAL_HOST=http://localhost:3000
NUXT_PUBLIC_DEMO_WORKSPACE_TOKEN=

# oauth2-proxy (GitHub OAuth App)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
OAUTH2_PROXY_COOKIE_SECRET=

DEMO_WORKSPACE_TOKEN=
